body {
    background: #010119;
    font-family: arial;
    background-size: auto 100rem;
    height: 100vh;
}

h1 {
    margin-bottom: 3rem;
    font-size: 5rem;
}

p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-style: normal;
    text-align: justify;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.sobre a {
    color: yellow;
}

.sobre {
    margin-top: 0rem;
    margin-bottom: 2rem;
}

.flexSobre {
    display: flex;
}

.flexSobre img {
    margin-right: 6rem;
    margin-top: 1.9rem;
    margin-left: 2rem;
    width: 43rem;
    height: 43rem;
}

.SobreInfo {
    margin-top: 6rem;
    margin-left: 10rem;
    color: whitesmoke;
}

.flexResto {
    display: flex;
}

.flexResto img {
    margin-top: 3rem;
    margin-left: 7rem;
    width: 28rem;
    height: 28rem;
}

.RestoDoTexto {
    margin-left: 4rem;
    margin-top: 0rem;
    margin-right: 10rem;
    margin-bottom: 5rem;
}

.RestoDoTexto p {
    color: whitesmoke;
}

@media screen and (max-width: 767px) {
    .sobre {
        margin-bottom: 2rem;
        margin-top: 0rem;
        background-color: #010119;
        display:block;
    }
    .RestoDoTexto {
        margin-left: 2rem;
        margin-top: 0rem;
        margin-right: 0rem;
        margin-bottom: 5rem;
    }
    .SobreInfo {
        margin-top: 2rem;
        margin-left: 2rem;
        color: whitesmoke;
    } 
    .flexSobre img {
        display: none;
    }
    .flexResto img {
        display: none;
    }
    h1 {
        margin-top: 4rem;
        margin-bottom: 4rem;
        font-size: 3rem;
        text-align: justify;
        margin-left: -0.5rem;
    }
    p {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        font-style: normal;
        text-align: justify;
        margin-left: -0.5rem;
        margin-right: 2.5rem;
    } 
    .RestoDoTexto p {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        font-style: normal;
        text-align: justify;
        margin-left: -0.5rem;
        margin-right: 2.5rem;
    }  	
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .sobre {
        margin-bottom: 2rem;
        margin-top: 0rem;
        background-color: #010119;
    }

    .flexSobre {
        display: flex;
    }

    .flexResto {
        display: flex;
    }

    .SobreInfo {
        margin-top: 2rem;
        margin-left: 2rem;
        color: whitesmoke;
    } 
    .sobre img {
        margin-right: 1rem;
        margin-top: 6rem;
        width: 30rem;
        height: 30rem;
    }
    h1 {
        margin-top: 7rem;
        margin-bottom: 4rem;
        font-size: 3rem;
        text-align: justify;
        margin-left: 6rem;
    }
    p {
        font-size: 1rem;
        margin-bottom: 1rem;
        font-style: normal;
        text-align: justify;
        margin-left: 6rem;
        margin-right: 0rem;
    }  	
    .RestoDoTexto {
        margin-left: 4rem;
        margin-top: 0rem;
        margin-right: 10rem;
        margin-bottom: 5rem;
    }
    
    .RestoDoTexto p {
        color: whitesmoke;
    }
}
