body {
    background: #010119;
    font-family: arial;
    background-size: auto 100rem;
    height: 100vh;
}

h1 {
    margin-bottom: 8rem;
    font-size: 5rem;
}

p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-style: normal;
    text-align: justify;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.sobre a {
    color: yellow;
}

.sobre {
    margin-top: 7rem;
    display: flex;
}

.sobre img {
    margin-right: 6rem;
    margin-top: 1.9rem;
    width: 43rem;
    height: 43rem;
}

.SobreInfo {
    margin-top: 10rem;
    margin-left: 10rem;
    color: whitesmoke;
}

@media screen and (max-width: 767px) {
    .sobre {
        margin-bottom: 2rem;
        margin-top: 0rem;
        background-color: #010119;
        display:block;
    }
    .SobreInfo {
        margin-top: 2rem;
        margin-left: 2rem;
        color: whitesmoke;
    } 
    .sobre img {
        display: none;
    }
    h1 {
        margin-top: 4rem;
        margin-bottom: 4rem;
        font-size: 3rem;
        text-align: justify;
        margin-left: -0.5rem;
    }
    p {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        font-style: normal;
        text-align: justify;
        margin-left: -0.5rem;
        margin-right: 2.5rem;
    }  	
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .sobre {
        margin-bottom: 2rem;
        margin-top: 0rem;
        background-color: #010119;
        display:flex;
    }
    .SobreInfo {
        margin-top: 2rem;
        margin-left: 2rem;
        color: whitesmoke;
    } 
    .sobre img {
        margin-right: 1rem;
        margin-top: 6rem;
        width: 30rem;
        height: 30rem;
    }
    h1 {
        margin-top: 7rem;
        margin-bottom: 4rem;
        font-size: 3rem;
        text-align: justify;
        margin-left: 6rem;
    }
    p {
        font-size: 1rem;
        margin-bottom: 1rem;
        font-style: normal;
        text-align: justify;
        margin-left: 6rem;
        margin-right: 0rem;
    }  	
}

@media screen and (max-width: 1440px) and (min-width: 1025px) {
    .sobre {
        margin-bottom: 2rem;
        margin-top: 0rem;
        background-color: #010119;
        display:flex;
    }
    .SobreInfo {
        margin-top: 2rem;
        margin-left: 2rem;
        color: whitesmoke;
    } 
    .sobre img {
        margin-right: 1rem;
        margin-top: 4rem;
        width: 40rem;
        height: 40rem;
    }
    h1 {
        margin-top: 10rem;
        margin-bottom: 6rem;
        font-size: 3rem;
        text-align: justify;
        margin-left: 6rem;
    }
    p {
        font-size: 1.2rem;
        margin-bottom: 1rem;
        font-style: normal;
        text-align: justify;
        margin-left: 6rem;
        margin-right: 0rem;
    }  	
}